body {
  margin: 0;
  font-family: 'arial','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}
.pages_top_heading{
  font-size : 48px;
  font-family: Roboto;
  color:#223654;
  font-weight: 600;
  line-height: 2.7rem;
}
.pages_top_heading h1::after {
  content: "";
  display: block;
  width: 3rem;
  margin-top: 0;
  padding-top: 8px;
  border-bottom: 4px solid #f09686;
}
.pages_subtitle{
  margin:24px 0px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.pages_top_heading h3{
  color:black
}
.pages_top_heading h3::after {
  content: "";
  display: block;
  width: 3rem;
  margin-top: 0;
  padding-top: 8px;
  border-bottom: 4px solid #f09686;
}
.pages_subtitle{
  margin:24px 0px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}